.card{
  background-color: var(--secondary-color);
  width: 1200px;

}
input[type=text],input[type=email]{
  width: 100%;
  height: 55px;
}

.subs-text{
  font-size: 14px;
  color: var(--body-text-color);
  margin-bottom: 10px;
}
