<div class="card mt-5 mb-5 pb-5 shadow-effect">
  <div class="card-body">
    <h4 class="mt-3 mb-3">Comments (12,353)</h4>
    <div class="mt-3 comment-box">
      <h6 class="mb-0">Abdelwahab Kamal</h6>
      <small class="text-danger">Last-Updated - Jul 14, 2025</small>
      <div class="comment-box mt-3 mb-3">
        <p class="card-text">This is a great post! I really enjoyed reading it and found the tips very helpful. Thank you for sharing your insights!</p>
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply</a>
      <hr>
    </div>
    <div class="mt-3 comment-box">
      <h6 class="mb-0">Abdelwahab Kamal</h6>
      <small class="text-danger">Last-Updated - Jul 14, 2025</small>
      <div class="comment-box mt-3 mb-3">
        <p class="card-text">This is a great post! I really enjoyed reading it and found the tips very helpful. Thank you for sharing your insights!</p>
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply</a>
      <hr>
    </div>
    <div class="mt-3 comment-box">
      <h6 class="mb-0">Abdelwahab Kamal</h6>
      <small class="text-danger">Last-Updated - Jul 14, 2025</small>
      <div class="comment-box mt-3 mb-3">
        <p class="card-text">This is a great post! I really enjoyed reading it and found the tips very helpful. Thank you for sharing your insights!</p>
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply</a>
      <hr>
    </div>
  </div>
</div>
